# Dependency directories
node_modules/

# Environment variables file
.env
.env.txt

# Log files
npm-debug.log

#CORS Rules
rules.json

#Uploded Images
favicon.png
community-avatar.png
default-avatar.png
email-banner.png
gpl-hacker-avatar.png
icon-192x192.png
icon-512x512.png
logo.png
supporters-avatar.png